.reserved-time {
    background-color: red;
  }

  .time-block{
    display: block;
    margin: 20px;
    background-position: 0%;
    transition: 0.4s;
    color: #2b3b6a;
    font-weight: 700;
    cursor: pointer;
  }
  .time-block:hover {
    cursor: pointer;
    background-position: 100% 0%;
    background-color: #5f73af;
  }

  .time-selected {
    color: #e6e6e6;
    background-color: #a62540;
  }